<div class="sidebar">
    <div>
      <h2>Dossiers</h2>
      <ul>
        <li routerLink="/contrats-client"><i>📁</i> Contrat Client</li>
        <li routerLink="/contrats-rh"><i>📁</i> Contrat RH</li>
        <li routerLink="/contrats-achat"><i>📁</i> Contrat Achat</li>
        <li routerLink="/contrats-pret"><i>📁</i> Contrat Prêt</li>
        <li routerLink="/contrats-partenariat"><i>📁</i> Contrat Partenariat</li>
      </ul>
    </div>
    <button class="logout">
      <i>🔓</i> Déconnexion
    </button>
  </div>
  